<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.projectmobiledevelopment">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityKinderen"
            android:label="@string/title_activity_kinderen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.thomasmore.projectmobiledevelopment.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ActivityMeting"
            android:label="@string/title_activity_meting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.KinderenEdit"
            android:label="@string/title_activity_kinderen_edit"
            android:parentActivityName=".activities.ActivityKinderen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.thomasmore.projectmobiledevelopment.activities.ActivityKinderen" />
        </activity>
        <activity
            android:name=".activities.Oef1"
            android:label="@string/title_activity_oef1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Oef2"
            android:label="@string/title_activity_oef2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Oef3"
            android:label="@string/title_activity_oef3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PreteachingPlaat"
            android:label="@string/title_activity_preteaching_plaat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Oef4"
            android:label="@string/title_activity_oef4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Oef5"
            android:label="@string/title_activity_oef5"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>